@charset "UTF-8";
@import '../CSS/fonts.css';
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

button {
  background: none;
  border: none;
  padding: 0;
}

* {
  color: #fff;
  font-family: "Montserrat", Arial, Helvetica, Sans-Serif;
  letter-spacing: 1px;
}

body {
  background-color: #141414;
  position: relative;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0px 15px;
}

.modal .btn, .footer .footer__btn .footer__btn-link, .prev .prev__btn .prev__btn-link {
  font-size: 16px;
  line-height: 1.55;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border: solid 1px #fff;
  border-radius: 30px;
  padding: 15px 35px 15px 35px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.modal .btn:hover, .footer .footer__btn .footer__btn-link:hover, .prev .prev__btn .prev__btn-link:hover {
  border: solid 1px rgb(253, 147, 75);
  background-color: rgb(253, 147, 75);
}

.footer .footer__title, .contact .contact__title, .price .price__title, .aboutus .aboutus__title, .prev .prev__title {
  font-size: 42px;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 3px;
  margin-bottom: 15px;
  text-align: center;
}

.secondColor {
  color: rgb(253, 147, 75);
}

.header {
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 100000;
  background-color: #1c1717;
  position: fixed;
  width: 100vw;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.header .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .logo-link .header__logo-wrapper {
  max-width: 80px;
  max-height: 100%;
  -webkit-filter: drop-shadow(3px 3px 10px #464544);
          filter: drop-shadow(3px 3px 10px #464544);
}
.header .logo-link .header__logo-wrapperimg {
  max-width: 100%;
}
.header .nav {
  font-size: 16px;
  line-height: 30px;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}
@media (max-width: 840px) {
  .header .nav {
    display: none;
  }
}
.header .nav .nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-left: 200px;
  margin-right: 100px;
}
@media (max-width: 1080px) {
  .header .nav .nav__items {
    margin-left: 50px;
    margin-right: 40px;
    gap: 40px;
  }
}
.header .nav .nav__link {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.header .nav .nav__link li {
  font-size: 14px;
  font-weight: 500;
}
.header .nav .nav__link:hover {
  opacity: 0.8;
}
.header .right-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
@media (max-width: 840px) {
  .header .right-info {
    display: none;
  }
}
.header .right-info .right-info__number {
  font-weight: 500;
  font-size: 20px;
  position: relative;
}
.header .right-info .right-info__number::after {
  position: absolute;
  content: "";
  bottom: -3px;
  display: block;
  width: 0;
  height: 1px;
  background: rgb(253, 147, 75);
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.header .right-info .right-info__number:hover:after {
  width: 100%;
}
.header .right-info .right-info__icon-link {
  max-width: 30px;
  max-height: 30px;
}
.header .right-info .right-info__icon-link .header__icon-fill {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.header .right-info .right-info__icon-link .header__icon-fill:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  fill: #fff;
}

.prev {
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  background-blend-mode: darken;
  background-image: url("../images/фон.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px;
}
.prev .prev__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  margin-top: 350px;
}
.prev .prev__title {
  font-size: 52px;
  white-space: nowrap;
}
.prev .prev__text {
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 19px;
  line-height: 30px;
}
.aboutus {
  padding-top: 80px;
  margin-top: -80px;
  padding-bottom: 80px;
}
.aboutus .aboutus__title {
  padding-left: 20px;
}
.aboutus .aboutus__descr {
  text-align: center;
  line-height: 25px;
  margin-bottom: 50px;
  display: block;
}
.aboutus .cards {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 20px;
  margin-bottom: 70px;
}
.aboutus .cards .cards__card {
  min-width: 400px;
  border: 2px solid;
  -o-border-image: linear-gradient(#cccccc, rgb(253, 147, 75), #2e2e2d);
     border-image: -webkit-gradient(linear, left top, left bottom, from(#cccccc), color-stop(rgb(253, 147, 75)), to(#2e2e2d));
     border-image: linear-gradient(#cccccc, rgb(253, 147, 75), #2e2e2d);
  border-image-slice: 1;
  padding: 10px 20px 10px;
  font-weight: 200;
}
@property --border-angle {
  .aboutus .cards {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }
}
.aboutus .cards .card__title {
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
}
.aboutus .cards .card__subtitle {
  font-size: 16px;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 10px;
}
.aboutus .cards .card__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.aboutus .cards .card__icon svg {
  max-width: 50px;
  max-height: 100%;
}
* .aboutus .cards .card__icon svg path {
  fill: #fff;
}
.aboutus .aboutus__services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.aboutus .aboutus__services .aboutus__video-wrapper {
  max-width: 450px;
  position: relative;
  background-color: #141414;
  border-radius: 30px;
  overflow: hidden;
  z-index: 1;
}
.aboutus .aboutus__services .aboutus__video-wrapper .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 4px 79px 33px rgba(34, 60, 80, 0.87) inset;
  box-shadow: 0px 4px 79px 33px rgba(34, 60, 80, 0.87) inset;
  top: 0;
  left: 0;
}
.aboutus .aboutus__subtitle {
  padding-left: 20px;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 3px;
  margin-bottom: 15px;
}
.aboutus .aboutus__text {
  line-height: 25px;
  padding-left: 5px;
  position: relative;
}
.aboutus .aboutus__text::before {
  color: rgb(253, 147, 75);
  position: absolute;
  top: 0;
  left: -15px;
  content: "✓";
}

.price {
  padding-top: 250px;
  margin-top: -250px;
  padding-bottom: 120px;
}
.price .price__title {
  margin-bottom: 40px;
}
.price .price__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}
.price .price__nav li a {
  background-color: #2b2a2a;
  letter-spacing: normal;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}
.price .price__nav .tabheader__active {
  background: #757474;
}
.price .price__tab-content .tab-pane {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.price .price__tab-content .price__box {
  max-width: 370px;
  min-width: 370px;
  padding: 20px 20px 20px 90px;
  background: #757474;
  -webkit-box-shadow: 0px 12px 46px rgba(255, 255, 255, 0.13);
  box-shadow: 0px 12px 46px rgba(255, 255, 255, 0.13);
  margin: 0 15px 30px;
  position: relative;
}
.price .price__tab-content .price__box .price__box-newprice {
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  left: 10px;
  top: 30px;
  color: rgb(253, 147, 75);
}
.price .price__tab-content .price__box .price__box-newprice span {
  color: rgb(253, 147, 75);
  font-size: 10px;
}
.price .price__tab-content .price__box .price__box-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
.price .price__tab-content .price__box .price__box-descr {
  font-weight: 200;
}
.contact {
  padding-top: 120px;
  padding-bottom: 120px;
}
.contact .contact__title {
  margin-bottom: 50px;
}
.contact .contact__card-wrapper {
  position: relative;
}
.contact .contact__card-wrapperiframe {
  z-index: 0;
}
.contact .contact__card-wrapper .contact-card {
  -webkit-box-shadow: 4px 4px 23px 24px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 23px 24px rgba(34, 60, 80, 0.2);
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  position: absolute;
  top: 50px;
  right: 50px;
  padding: 30px 30px 30px 30px;
}
.contact .contact-card__title {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 15px;
  color: #0c0c0c;
}
.contact .contact-item {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 2;
  font-weight: 200;
  color: #0c0c0c;
}
.contact .contact-item a {
  color: rgb(253, 147, 75);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-weight: 500;
}
.contact .contact-item a:hover {
  text-decoration: underline;
}
.contact .contact-item span {
  font-weight: 500;
  color: #0c0c0c;
}
.contact .contact-item:last-child {
  margin-bottom: 0;
}

.line {
  background-color: #fff;
  width: 100%;
  height: 1px;
}

.footer {
  padding-top: 30px;
  margin-bottom: 30px;
}
.footer .footer__title {
  -moz-text-align-last: left;
       text-align-last: left;
  margin-bottom: 40px;
  font-size: 30px;
}
.footer .footer__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.footer .footer__btn {
  margin-bottom: 30px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.footer .footer__btn .footer__btn-link {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  background-color: rgb(253, 147, 75);
  border: 1px solid rgb(253, 147, 75);
}
.footer .footer__btn .footer__btn-link:hover {
  border: 1px solid rgb(253, 147, 75);
}
.footer .footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.footer .footer__tel {
  color: rgb(253, 147, 75);
}
.footer .copyright {
  opacity: 0.5;
}

.hide {
  display: none !important;
}

.show {
  display: block;
}

.modal {
  z-index: 1050;
  background-color: rgba(136, 135, 135, 0.2549019608);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
.modal .modal__dialog {
  max-width: 500px;
  margin: 150px auto;
}
.modal .modal__content {
  position: relative;
  width: 100%;
  padding: 40px;
  background-color: #f9f8f7;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  max-height: 80vh;
  overflow-y: auto;
}
.modal .modal__close {
  position: absolute;
  top: 8px;
  right: 14px;
  font-size: 30px;
  color: #000;
  opacity: 0.5;
  font-weight: 700;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.modal .modal__title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: black;
}
.modal .modal__input {
  display: block;
  margin: 20px auto 20px auto;
  width: 280px;
  height: 50px;
  background: #fff;
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border: none;
  font-size: 18px;
  text-align: center;
  padding: 0 20px;
  outline: 0;
  color: black;
}
.modal .btn {
  display: block;
  width: 280px;
  margin: 0 auto;
  color: fff;
  background-color: rgb(253, 147, 75);
  padding: 10px 5px 10px 5px;
}
.mraz {
  display: none;
  position: fixed;
  z-index: 1500;
  top: 50%;
  left: 20%;
  font-size: 50px;
  text-align: center;
  color: red;
}

.block-animate {
  opacity: 0;
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.opacity {
  background-color: rgba(28, 23, 23, 0.7882352941);
}

.opacity-default {
  background-color: rgba(28, 23, 23, 0);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 1;
}