@import 'reset.scss';
@import 'vars.scss';
@import '../CSS/fonts.css';

* {
	color: $colorMain;
	font-family: $montserrat;
	letter-spacing: 1px;
}

pre {
	margin: 0;
	padding: 0;
}

body {
	background-color: $bgMain;
	position: relative;
}

.main {}

.container {
	max-width: 1260px;
	margin: 0 auto;
	padding: 0px 15px;
}

// --------------------------------ШАБЛОНЫ--------------------------------

%btnColor {
	//Совместно в ховером для кнопок
	font-size: 16px;
	line-height: 1.55;
	font-weight: $medium;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	border: solid 1px #fff;
	border-radius: 30px;
	padding: 15px 35px 15px 35px;
	transition: 0.3s ease;

	&:hover {
		border: solid 1px $secondColor;
		background-color: $secondColor;
	}
}

%title {
	font-size: 42px;
	text-transform: uppercase;
	font-weight: $extralight;
	letter-spacing: 3px;
	margin-bottom: 15px;
	text-align: center;
}

%hoverIcon {
	display: inline-block;
	transition: transform 0.3s ease;

	&:hover {
		transform: scale(1.1);
	}
}

.secondColor {
	color: $secondColor;
}

// -----------------------------HEADER---------------------------------
// -----------------------------HEADER---------------------------------

.header {
	.container {
		max-width: 1350px;
		padding: 0px 16px;
	}

	padding-top: 15px;
	padding-bottom: 15px;
	z-index: 100000;
	background-color: #1c1717;
	position: fixed;
	width: 100vw;
	transition: 0.3s ease;

	.header__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.logo-link {
		.header__logo-wrapper {
			max-width: 80px;
			max-height: 100%;

			@media (max-width:576px) {
				max-width: 60px;
			}

			filter: drop-shadow(3px 3px 10px #464544);

			&img {
				max-width: 100%;

			}
		}
	}

	.header__nav-body {
		display: flex;
		justify-content: space-between;
		gap: 200px;

		@media (max-width:1100px) {
			gap: 100px;
		}

		@media (max-width:950px) {
			gap: 50px;
		}

		@media (max-width:840px) {
			display: block;
		}
	}

	.nav {
		font-size: 16px;
		line-height: 30px;
		white-space: nowrap;
		display: flex;
		align-items: center;
		text-transform: uppercase;
		align-self: flex-start;

		.nav__items {
			display: flex;
			gap: 100px;
			align-items: center;
			justify-content: center;
			flex-wrap: nowrap;

			@media (max-width:1080px) {
				margin-left: 50px;
				margin-right: 0px;
				gap: 40px;
			}

			@media (max-width: 840px) {
				margin: 0;
			}
		}

		.nav__link {
			transition: 0.3s ease;

			& li {
				font-size: 14px;
				font-weight: $medium;
			}

			&:hover {
				opacity: 0.8;
			}
		}
	}

	.right-info__number-burg-button {
		display: none;
	}

	.right-info {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;

		& svg {
			width: 35px;
			height: 35px;
		}

		.header__buttons-icons-wrapper {
			display: flex;
			flex-direction: row;
			gap: 20px
		}

		.header__btn-tg-link,
		.header__btn-whap-link {
			& span {
				display: none;
			}
		}

		.whap-link,
		.tg-link {
			@extend %hoverIcon;
		}

		.header__btn-tg {
			display: block;
			width: 40px;

			.header__btn-tg-link {
				display: block;
			}
		}

		.right-info__numbers-wrap {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}

		.right-info__number {
			font-weight: $medium;
			font-size: 20px;
			position: relative;

			&::after {
				position: absolute;
				content: '';
				bottom: -3px;
				display: block;
				width: 0;
				height: 1px;
				background: $secondColor;
				left: 50%;
				transform: translateX(-50%);
				transition: 0.3s ease;
			}

			&:hover:after {
				width: 100%;
			}
		}

		.right-info__icon-link {
			max-width: 30px;
			max-height: 30px;

			& .header__icon-fill {
				transition: 0.3s ease;

				&:hover {
					transform: scale(1.1);
					fill: #fff;
				}
			}
		}
	}
}

// --------------------------------------------PREV-------------------------------------------
// --------------------------------------------PREV-------------------------------------------

.prev {
	height: 100vh;
	background: rgba(0, 0, 0, .80);
	background-blend-mode: darken;
	background-image: url('../images/фон2_1.webp');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	margin-bottom: 80px;

	.prev__inner {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 30px;
		margin-top: 40vh;

		@media (max-width:768px) {
			gap: 20px;
		}
	}

	.prev__title {
		@extend %title;
		font-size: 52px;
		white-space: nowrap;

		@media (max-width:768px) {
			font-size: 36px;
			margin-bottom: 0;
		}

		@media (max-width:380px) {
			font-size: 32px;
			margin-bottom: 0;
		}
	}

	.prev__text {
		font-weight: $regular;
		letter-spacing: 0.5px;
		font-size: 19px;
		line-height: 30px;

		@media (max-width:768px) {
			font-size: 14px;
		}

		@media (max-width:576px) {
			font-size: 12px;
			margin-bottom: 10px;
		}
	}

	.prev__btn {

		.prev__btn-link {
			@extend %btnColor;

			@media (max-width:768px) {
				font-size: 12px;
			}
		}
	}
}

// --------------------------------------------О НАС -------------------------------------------
// --------------------------------------------О НАС -------------------------------------------


.aboutus {
	padding-top: 80px;
	margin-top: -80px;
	padding-bottom: 80px;

	.aboutus__title {
		padding-left: 20px;
		@extend %title;

		@media (max-width:652px) {
			font-size: 36px;
		}

	}

	.aboutus__descr {
		text-align: center;
		line-height: 25px;
		margin-bottom: 50px;
		display: block;

		@media (max-width:652px) {
			font-size: 12px;
		}
	}

	.cards {
		display: grid;
		justify-content: center;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
		grid-gap: 20px;
		margin-bottom: 70px;

		@media (max-width:652px) {
			grid-template-columns: auto;
			grid-template-rows: auto auto auto auto;

		}

		.cards__card {
			min-width: 400px;
			border: 2px solid;
			border-image: linear-gradient(#cccccc, $secondColor, #2e2e2d);
			border-image-slice: 1;
			padding: 10px 20px 10px;
			font-weight: $extralight;

			@media (max-width:992px) {
				min-width: 300px;
				max-width: 300px;
			}
		}

		@property --border-angle {
			syntax: "<angle>";
			inherits: true;
			initial-value: 0turn;
		}

		.card__title {
			font-weight: $light;
			font-size: 24px;
			text-align: center;
			margin-bottom: 10px;

		}

		.card__subtitle {
			font-size: 16px;
			text-align: center;
			white-space: nowrap;
			margin-bottom: 10px;

			@media (max-width:992px) {
				line-height: 15px;
				white-space: inherit;
			}
		}

		.card__icon {
			display: flex;
			align-items: center;
			justify-content: center;

			& svg {
				* & path {
					fill: #fff;
				}

				max-width: 50px;
				max-height: 100%;
			}
		}
	}

	.aboutus__services {
		display: flex;
		justify-content: space-between;
		gap: 30px;

		@media (max-width:1100px) {
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
		}

		.aboutus__video-wrapper {
			position: relative;
			background-color: $bgMain;
			border-radius: 30px;
			overflow: hidden;
			z-index: 1;

			@media (max-width:1100px) {
				display: none;
			}

			& video {
				max-width: 450px;
			}


			.shadow {
				position: absolute;
				width: 100%;
				height: 100%;
				-webkit-box-shadow: 0px 4px 79px 33px rgba(34, 60, 80, 0.87) inset;
				-moz-box-shadow: 0px 4px 79px 33px rgba(34, 60, 80, 0.87) inset;
				box-shadow: 0px 4px 79px 33px rgba(34, 60, 80, 0.87) inset;
				top: 0;
				left: 0;

				@media (max-width:1100px) {}
			}


		}
	}

	.aboutus__items {
		padding-left: 20px;
	}

	.aboutus__subtitle {
		padding-left: 30px;
		font-size: 32px;
		text-transform: uppercase;
		font-weight: $extralight;
		letter-spacing: 3px;
		margin-bottom: 15px;

		@media (max-width:1100px) {
			text-align: center;
			margin-bottom: 20px;
		}

		@media (max-width:568px) {
			font-size: 28px;
		}
	}

	.aboutus__text {
		line-height: 25px;
		padding-left: 5px;
		position: relative;

		@media (max-width:568px) {
			font-size: 14px;
			line-height: 115%;
			margin-bottom: 15px;
		}

		&::before {
			color: $secondColor;
			position: absolute;
			top: 0;
			left: -15px;
			content: '✓';
		}
	}
}

// -----------------------------------PRICE-----------------------------------
// -----------------------------------PRICE-----------------------------------


.price {
	padding-top: 250px;
	margin-top: -250px;
	padding-bottom: 120px;

	@media (max-width: 767px) {
		padding-bottom: 10px;
	}

	.price__title {
		@extend %title;
		margin-bottom: 40px;

		@media (max-width:768px) {
			font-size: 32px;
		}
	}

	.price__nav {
		display: flex;
		gap: 30px;
		margin-bottom: 30px;

		@media (max-width:1010px) {
			gap: 15px;
		}

		@media (max-width:960px) {
			flex-wrap: wrap;
		}

		& li {
			@media (max-width:960px) {
				margin-bottom: 10px;
			}

			@media (max-width:350px) {
				margin-bottom: 5px;
			}

			& a {
				background-color: #2b2a2a;
				letter-spacing: normal;
				padding: 5px 10px 5px 10px;
				border-radius: 5px;
				white-space: nowrap;
				transition: all 0.3s ease 0s;

				@media (max-width:768px) {
					font-size: 14px;
				}
			}
		}

		.tabheader__active {
			background: #757474;

			@media (max-width: 980px) {}
		}

	}


	.price__tab-content {
		transition: all 0.3s ease 0s;

		.tab-pane {
			display: flex;
			flex-wrap: wrap;
			transition: all 0.3s ease 0s;
		}

		.price__box {
			max-width: 370px;
			min-width: 370px;
			padding: 20px 20px 20px 90px;
			background: #757474;
			-webkit-box-shadow: 0px 12px 46px rgba(255, 255, 255, 0.13);
			-moz-box-shadow: 0px 12px 46px rgba(255, 255, 255, 0.13);
			box-shadow: 0px 12px 46px rgba(255, 255, 255, 0.13);
			margin: 0 15px 30px;
			position: relative;
			border-radius: 8px;
			display: flex;
			align-items: flex-start;
			justify-content: center;
			flex-direction: column;

			@media (max-width:830px) {
				margin: 0 7px 15px;
			}

			@media (max-width:420px) {
				max-width: 300px;
				min-width: 300px;
				margin: 0 5px 10px;
			}

			@media (max-width:350px) {
				max-width: 250px;
				min-width: 250px;
			}

			.price__box-newprice {
				font-size: 15px;
				font-weight: bold;
				position: absolute;
				left: 7%;
				top: 50%;
				transform: translate(0px, -50%);
				color: $secondColor;

				@media (max-width:768px) {
					font-size: 12px;
				}

				& span {
					color: $secondColor;
					font-size: 10px;
				}
			}

			.price__box-title {
				font-size: 16px;
				font-weight: bold;
				margin-bottom: 5px;

				@media (max-width:768px) {
					font-size: 12px;
				}
			}

			.price__box-descr {
				font-weight: $extralight;

				@media (max-width:768px) {
					font-size: 12px;
				}
			}
		}
	}
}

// ------------------------------------CONTACTS-------------------------
// ------------------------------------CONTACTS-------------------------

.contact {
	padding-top: 120px;
	padding-bottom: 120px;

	@media (max-width: 767px) {
		padding-top: 50px;
	}

	.contact__title {
		@extend %title;
		margin-bottom: 50px;

		@media (max-width:768px) {
			font-size: 32px;
		}
	}

	.contact__card-wrapper {
		position: relative;

		&iframe {
			z-index: 10;

			@media (max-width:620px) {
				height: 330px;
			}
		}

		.contact-card {
			-webkit-box-shadow: 4px 4px 23px 24px rgba(34, 60, 80, 0.2);
			-moz-box-shadow: 4px 4px 23px 24px rgba(34, 60, 80, 0.2);
			box-shadow: 4px 4px 23px 24px rgba(34, 60, 80, 0.2);
			border-radius: 15px;
			background-color: rgb(255, 255, 255);
			z-index: 1;
			position: absolute;
			top: 50px;
			right: 50px;
			padding: 30px 30px 30px 30px;

			@media (max-width: 870px) {
				margin-top: 30px;
				top: 0;
				left: 0;
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				background-color: $bgMain;
				border: 2px solid;
				border-image: linear-gradient(#a7a5a5, $secondColor, #2e2e2d);
				border-image-slice: 1;
			}
		}
	}

	.contact-card__title {
		font-size: 40px;
		font-weight: $medium;
		margin-bottom: 15px;
		color: $colorInTheContact;

		@media (max-width: 1140px) {
			font-size: 35px;
			white-space: nowrap;
		}

		@media (max-width: 870px) {
			color: #fff;
			display: none;
		}
	}

	.contact-item {
		margin-bottom: 10px;
		font-size: 14px;
		line-height: 2;
		font-weight: $extralight;
		color: $colorInTheContact;
		white-space: nowrap;

		@media (max-width: 1140px) {
			font-size: 14px;
		}

		@media (max-width: 870px) {
			color: #fff;
		}

		@media (max-width:440px) {
			font-size: 11px;
			white-space: inherit;
			margin-bottom: 0;
		}

		& a {
			color: $secondColor;
			transition: 0.3s ease;
			font-weight: $medium;

			&:hover {
				text-decoration: underline;
			}
		}

		& span {
			font-weight: $medium;
			color: $colorInTheContact;

			@media (max-width: 870px) {
				color: #fff;
			}
		}
	}

	.contact-item:last-child {
		margin-bottom: 0;
	}

	.contact__button-wrap,
	.tg-btn-wrap .whap-btn-wrap {
		display: flex;
		justify-content: center;
		align-items: center;

		@media (max-width: 442px) {
			margin-top: 5px;
		}

		.contact__btn,
		.tg-btn,
		.whap-btn {
			background-color: #36aee2;
			border-radius: 15px;

			& .contact__btn-link,
			.tg-link,
			.whap-link {
				padding: 5px 20px;
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 5px;
				color: #ece9e9;
				font-weight: $medium;

				& svg {
					max-width: 40px;
					height: 40px;
				}
			}
		}
	}

}

.line {
	background-color: #fff;
	width: 100%;
	height: 1px;
}

// ------------------------------------FOOTER-------------------------
// ------------------------------------FOOTER-------------------------

.footer {
	padding-top: 30px;
	margin-bottom: 30px;

	.footer__title {
		text-align-last: left;
		margin-bottom: 40px;
		@extend %title;
		font-size: 30px;

		@media (max-width:620px) {
			font-size: 25px;
		}
	}

	.footer__action {
		display: flex;
		gap: 50px;

		@media (max-width:620px) {
			gap: 15px;
		}
	}

	.footer__btn {
		margin-bottom: 30px;
		transition: 0.4s ease;

		.footer__btn-link {
			transition: 0.4s ease;
			@extend %btnColor;
			background-color: $secondColor;
			border: 1px solid $secondColor;
			white-space: nowrap;

			@media (max-width:620px) {
				font-size: 10px;
				padding: 10px 15px 10px 15px;
			}

			&:hover {
				border: 1px solid $secondColor;
			}
		}
	}

	.footer__contact {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.footer__adress {
		@media (max-width:620px) {
			font-size: 10px;
		}
	}

	.footer__tel {
		color: $secondColor;

		@media (max-width:620px) {
			font-size: 10px;
		}
	}

	.copyright {
		opacity: 0.5;

		@media (max-width:620px) {
			font-size: 10px;
		}
	}
}

.hide {
	display: none !important;
	transition: all 0.3s ease 0s;
}

.show {
	display: block;
	transition: all 0.3s ease 0s;
}

// =============================MODAL=======================

.modal {
	z-index: 1050;
	background-color: #88878741;
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	display: none;

	.modal__dialog {
		max-width: 500px;
		margin: 150px auto;

		@media (max-width: 520px) {
			max-width: 400px;
		}

		@media (max-width: 420px) {
			max-width: 300px;
		}
	}

	.modal__content {
		position: relative;
		width: 100%;
		padding: 40px;
		background-color: #f9f8f7;
		border: 1px solid rgba(0, 0, 0, .2);
		border-radius: 4px;
		max-height: 80vh;
		overflow-y: auto
	}

	.modal__close {
		position: absolute;
		top: 8px;
		right: 14px;
		font-size: 30px;
		color: #000;
		opacity: .5;
		font-weight: 700;
		border: none;
		background-color: transparent;
		cursor: pointer;

	}

	.modal__title {
		text-align: center;
		font-size: 22px;
		text-transform: uppercase;
		color: black;

		@media (max-width: 520px) {
			font-size: 16px;
		}
	}

	.modal__input {
		display: block;
		margin: 20px auto 20px auto;
		width: 280px;
		height: 50px;
		background: #fff;
		box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
		border: none;
		font-size: 18px;
		text-align: center;
		padding: 0 20px;
		outline: 0;
		color: black;

		@media (max-width: 520px) {
			font-size: 14px;
		}

		@media (max-width: 420px) {
			width: 200px;
			font-size: 10px;
		}

	}

	.btn {
		display: block;
		width: 280px;
		margin: 0 auto;
		color: fff;
		background-color: $secondColor;
		padding: 10px 5px 10px 5px;
		@extend %btnColor;

		@media (max-width: 520px) {
			font-size: 14px;
		}

		@media (max-width: 420px) {
			padding: 15px 2px 15px 2px;
			font-size: 10px;
			width: 200px;
		}
	}
}

.block-animate {
	opacity: 0;
	transform: translateY(50px);
	transition: transform 0.5s, opacity 0.5s;
}

.opacity {
	background-color: #1c1717c9;

}

.opacity-default {
	background-color: #1c171700;
	transition: 0.3s ease;
	opacity: 1;
}

.menu-burg {
	display: none;
}


//МЕДИА ЗАПРОС ДЛЯ МЕНЮ ХЕДЕР
@media (max-width: 840px) {

	.menu-burg {
		display: block;
		z-index: 10500;
		position: relative;
		width: 40px;
		height: 18px;
		cursor: pointer;
		padding: 12px;

		.menu-burg::before,
		.menu-burg span,
		.menu-burg::after {
			position: absolute;
			left: 0;
			height: 10%;
			width: 100%;
			transition: all 0.3s ease 0s;
			background-color: #ffffff;
		}

		.menu-burg::before,
		.menu-burg::after {
			content: "";
		}

		.menu-burg::before {
			top: 0;
		}

		.menu-burg::after {
			bottom: 0;
		}

		.menu-burg span {
			top: 50%;
			transform: scale(1) translate(0%, -50%);
		}

		.menu-burg._active span {
			transform: scale(0) translate(0%, -50%);
		}

		.menu-burg._active::after {
			transform: translate(0, -500%) rotate(45deg);
		}

		a .menu-burg._active::before {
			transform: translate(0, 356%) rotate(-45deg);
		}
	}


	.header__nav-body {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		padding: 100px 30px 30px 30px;
		background-color: #000000ee;
		transition: left 0.3s ease 0s;

		.nav {
			margin-top: 50px;
			align-items: center;
			justify-content: center;
		}

		.nav__items {
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		.right-info {
			align-items: center;
			justify-content: center;
			padding: 30px;
			flex-direction: column-reverse;
		}

		a {
			padding: 15px;
		}

		.right-info__number-burg-button {
			display: block;
			font-size: 12px;
			line-height: 1.55;
			font-weight: $medium;
			letter-spacing: 0.5px;
			text-transform: uppercase;
			border: solid 1px #fff;
			border-radius: 30px;
			padding: 15px 35px 15px 35px;
			transition: 0.3s ease;

			&:hover {
				border-color: $secondColor;
				color: $secondColor;
			}
		}
	}

	.header__buttons-icons-wrapper {
		display: none;
	}

	.right-info__numbers-wrap {
		display: none;
	}

	.header .right-info .header__btn-tg {
		width: 100%;
	}

	.header__nav-body._active {
		left: 0;
	}

	._lock {
		overflow: hidden;
	}

	.header .right-info .header__buttons-icons-wrapper {
		display: flex;
		flex-direction: column;
	}

	.header .right-info .header__btn-tg-link,
	.header .right-info .header__btn-whap-link {
		border-radius: 5px;
	}

	.header .right-info .header__btn-tg-link {
		background-color: #36aee2;
	}

	.header .right-info .header__btn-whap-link {
		background-color: rgb(69, 228, 93);
	}

	.header .right-info .header__btn-tg-link span,
	.header .right-info .header__btn-whap-link span {
		display: block;
		margin-top: 5px;

	}

	.header {
		.right-info {
			.header__btn-tg-link {
				display: flex;
			}
		}
	}

}