$montserrat: 'Montserrat', Arial, Helvetica, Sans-Serif;

$extralight: 200;
$light: 300;
$regular: 400;
$medium: 500;

$bgMain: #141414;
$colorMain: #fff;
$colorInTheContact: #0c0c0c;

$secondColor: rgb(253,147,75)
